{% extends 'base.html' %}

<!-- title of page -->
{% block title %}
    QP | home
{% endblock %}


<!-- content of page -->
{% block content %}
<form action="/result" class="form-control" method="POST">
<div class="container pt-5">
    <div class="card text-center">
        <div class="card-header display-4">
        Search Question Papers
        </div>
        <div class="card-body">
        <h5 class="card-title">Select Course</h5>
        <div class="container text-center" style="width: 500px;">
            <select name="course" class="form-select" aria-label="Default select example">
                <option selected disabled>--Select option--</option>
                <!-- get from database -->
                <option value="Engineering">Engineering</option>
            </select>
        </div>
        <h5 class="card-title mt-4">Select Branch</h5>
        <div class="container text-center" style="width: 500px;">
            <select name="branch" class="form-select" aria-label="Default select example">
                <option selected disabled>--Select option--</option>
                <!-- get from database -->
                <option value="Information Technology">Information Technology</option>
            </select>
        </div>
        <h5 class="card-title mt-4">Select Semester</h5>
        <div class="container text-center" style="width: 500px;">
            <select name="semester" class="form-select" aria-label="Default select example">
                <option selected disabled>--Select option--</option>
                <!-- get from database -->
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <input type="submit" class="btn btn-success mt-3" value="Submit"/>
        </div>
        <div class="card-footer text-muted">
        2 days ago
        </div>
    </div>
</div>
</form>
{% endblock %}