{% extends 'base.html' %}

<!-- title of page -->
{% block title %}
    QP | home
{% endblock %}


<!-- content of page -->
{% block content %}
<form action="/result" class="form-control" method="POST">
<div class="container pt-5">
    <div class="card text-center">
        <div class="card-header display-4">
        Search Question Papers
        </div>
        <div class="card-body">
        <h3 class="card-title">Mumbai University - Engineering</h3>
        
        <h5 class="card-title mt-4">Select Branch</h5>
        <div class="container text-center" style="width: 500px;">
            <select name="branch" class="form-select" aria-label="Default select example">
                <option selected disabled>--Select option--</option>
                <!-- get from database -->
                <option value="First Year">First Year Engineering</option>
                <option value="Automobile">Automobile Engineering</option>
                <option value="Biomedical">Biomedical Engineering</option>
                <option value="Biotechnology">Biotechnology Engineering</option>
                <option value="Chemical">Chemical Engineering</option>
                <option value="Civil">Civil Engineering</option>
                <option value="Computer">Computer Engineering</option>
                <option value="Electrical">Electrical Engineering</option>
                <option value="Electronics and Telecommunication">Electronics and Telecommunication Engineering</option>
                <option value="Electronics">Electronics Engineering</option>
                <option value="Information Technology">Information Technology Engineering</option>
                <option value="Instrumentation">Instrumentation Engineering</option>
                <option value="Mechanical">Mechanical Engineering</option>
                <option value="Production">Production Engineering</option>
            </select>
        </div>
        <h5 class="card-title mt-4">Select Semester</h5>
        <div class="container text-center" style="width: 500px;">
            <select name="semester" class="form-select" aria-label="Default select example">
                <option selected disabled>--Select option--</option>
                <!-- get from database -->
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <input type="submit" class="btn btn-success btn-lg bg-gradient mt-3" value="Submit"/>
        </div>
        <!-- <div class="card-footer text-muted">
            <h1>hi</h1>
        </div> -->
    </div>
</div>
</form>
{% endblock %}